{% extends "base.html" %}

{% block the_body %}




    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<form action="{{ game_save_url }}" method="POST">
    Your word is: {{ the_word }} <br>

    Word 1: <textarea rows="1" cols="30" name="word1" required=true></textarea><br>
    Word 2: <textarea rows="1" cols="30" name="word2"required=true></textarea><br>
    Word 3: <textarea rows="1" cols="30" name="word3"required=true></textarea><br>
    Word 4: <textarea rows="1" cols="30" name="word4"required=true></textarea><br>
    Word 5: <textarea rows="1" cols="30" name="word5"required=true></textarea><br>
    Word 6: <textarea rows="1" cols="30" name="word6"required=true></textarea><br>
    Word 7: <textarea rows="1" cols="30" name="word7"required=true></textarea><br>

    <p>
    <input type="SUBMIT" value="Submit">
    </p>
</form>

{% endblock %}
