{% extends "base.html" %}

{% block the_body %}
<script>
        function goBack() {
            window.history.back();
        }
        function goForward() {
            var allOk = true
            var i
            var list = { document.getElementById("word1") , document.getElementById("word2") , document.getElementById("word4"),document.getElementById("word5"),document.getElementById("word6"),document.getElementById("word7") }
            for(i = 1; i < list.length;i++)
            {
              if(!list[i].isEqual("✔")){
                  allOk = false;
              }
            }
            if(allOk){
                document.getElementsById("continueButton").disabled = false;
            }

        }
        document.getElementsById("continueButton").disabled = true;
        goForward();
</script>
<p>
You did a great job! You took: {{ game_time }} to complete the game!
</p>
<table style="width:100%">
    <tr>
        <td>Word</td>
        <td>Result</td>
    </tr>
    <tr>
        <td>{{word1}}</td>
        <td id="word1">{{correctWords[0]}}</td>
    </tr>
    <tr>
        <td>{{word2}}</td>
        <td id="word2">{{correctWords[1]}}</td>
    </tr>
    <tr>
        <td>{{word3}}</td>
        <td id="word3">{{correctWords[2]}}</td>
    </tr>
    <tr>
        <td>{{word4}}</td>
        <td id="word4">{{correctWords[3]}}</td>
    </tr>
    <tr>
        <td>{{word5}}</td>
        <td id="word5">{{correctWords[4]}}</td>
    </tr>
    <tr>
        <td>{{word6}}</td>
        <td id="word6">{{correctWords[5]}}</td>
    </tr>
    <tr>
        <td>{{word7}}</td>
        <td id="word7">{{correctWords[6]}}</td>
    </tr>
</table>
 <button onclick="goBack()">Edit Words</button>
 <button onclick="location.href={{ home_link }}" id="continueButton">Submit</button><br>
    <a href={{score_link}}>Play Again?</a>


<a href={{game_link}}>Play Again?</a>
or Go <a href={{home_link}}>Home</a>
{% endblock %}
